/* src/App.css */
.container {
  margin-top: 5rem;
}

/* Título principal con la fuente Staatliches */
.Titulo {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Staatliches', cursive;
  font-size: 5rem;
  letter-spacing: 2px;
  margin-bottom: 4rem;
}

/* Subtítulos de las columnas */
h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Staatliches', cursive;
  margin-bottom: 3rem;
}