.cita {
    background: #98cb98;
    border: 15px solid #333;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: inset 5px 5px 15px rgba(0,0,0,0.5);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #111;
}

.cita h3 {
    font-family: 'VT323', monospace;
    font-size: 3rem;
    margin: 0;
    border-bottom: 2px solid #555;
    width: 100%;
    text-align: center;
}

.cita img {
    width: 200px;
    image-rendering: pixelated;
    filter: drop-shadow(5px 5px 0px rgba(0,0,0,0.2));
    margin: 20px 0;
}

.cita p {
    font-size: 1.8rem;
    width: 100%;
    margin: 5px 0;
    background: rgba(255,255,255,0.2);
    padding: 5px 10px;
    border-radius: 5px;
}

.cita p span {
    float: right;
    font-weight: bold;
}

.alerta-error {
    background: #ff5f5f;
    border: 5px solid #a30000;
    color: white;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
}